<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>AlamofirePackageDescription.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>SKClientPackageDescription.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>SKCorePackageDescription.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>12</integer>
		</dict>
		<key>SKRTMAPIPackageDescription.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>SKServerPackageDescription.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>SKWebAPIPackageDescription.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
		<key>SWXMLHashPackageDescription.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>SlackKitPackageDescription.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>StarscreamPackageDescription.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>SwifterPackageDescription.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>bot-rocks-Package.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>bot-rocks.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>bot-rocks.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>bot-rocksPackageDescription.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>Alamofire::Alamofire</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>Alamofire::SwiftPMPackageDescription</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_123</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_142</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_146</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_156</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_165</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_175</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_176</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_179</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_184</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_185</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_188</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_195</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_199</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_200</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_204</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_208</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_219</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_223</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_225</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_244</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_248</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_264</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_283</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_285</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_287</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_304</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_308</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_327</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_331</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_339</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>SKClient::SKClient</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>SKClient::SwiftPMPackageDescription</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>SKCore::SKCore</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>SKCore::SwiftPMPackageDescription</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>SKRTMAPI::SKRTMAPI</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>SKRTMAPI::SwiftPMPackageDescription</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>SKServer::SKServer</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>SKServer::SwiftPMPackageDescription</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>SKWebAPI::SKWebAPI</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>SKWebAPI::SwiftPMPackageDescription</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>SWXMLHash::SWXMLHash</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>SWXMLHash::SwiftPMPackageDescription</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>SlackKit::SlackKit</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>SlackKit::SwiftPMPackageDescription</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>Starscream::Starscream</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>Starscream::SwiftPMPackageDescription</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>Swifter::SwiftPMPackageDescription</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>Swifter::Swifter</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>bot-rocks::SwiftPMPackageDescription</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>bot-rocks::bot-rocks</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
